.wrapper {
    padding-top: 40px;
    margin: 0 10%;
    justify-self: center;
    width: 80%;
    padding-bottom: 500px;
}

.title{
    font-family: Graphik;
    font-size: 34px;
    margin-top: 15px;
    margin-bottom: 10px;
    color: #292929;
}

.text{
    font-family: Graphik;
    font-size: 18px;
    color: #292929;
    margin-bottom: 5px;
}
.textDisc{
    font-family: Graphik;
    font-weight: bold;
    font-size: 38px;
    color: #292929;
    margin-bottom: 5px;
}

.orders{
    margin-top: 20px;
    margin-bottom: 20px;
}

.paymentBut{
    position: relative;
    width: 30%;
    height: 40px;
    border: 2px solid #292929;
    color: #292929;
    background-color: transparent;
    font-family: SONY Fixed;
    font-style: 22px;
    cursor: pointer;
    transition: all .45s;
}

.paymentBut span{
    position: relative;
    z-index: 20000;
}

.paymentBut::before{
    position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background-color: #292929;
        transition: all .45s;
        z-index: 1;
}

.paymentBut:hover{
    color: #E8E8E8;
}

.paymentBut:hover::before{
    width: 100%;
}