.map{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 60%;
    margin-bottom: 30px;
}
@media (max-width: 990px) {
    .map{
        height: 350px;
        width: 100%;
    }
}