.wrapperList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 350px;
    justify-content: space-between;
    grid-row-gap: 5px;
    grid-column-gap: 155px;
    position: relative;
    width: 100%;
}

.title {
    font-size: 34px;
    font-family: Wermut;
    color: #292929;
    margin-bottom: 30px;
}

@media (max-width:1890px) {
    .wrapperList{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width:1090px) {
    .wrapperList{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:590px) {
    .wrapperList{
        grid-template-columns: repeat(1, 1fr);
    }
}