.wrapperList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px 15px;
}

.title {
    font-size: 34px;
    font-family: Wermut;
    color: #292929;
    margin-bottom: 30px;
}

@media (max-width:1890px) {
    .wrapperList{
        grid-template-columns: repeat(3, 1fr);
    }
}