.wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    gap: 10%;
    margin-top: 20px;
    margin-bottom: 50px;
}
.image{
    width: 500px;
    height: 400px;
}
.block {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button {
    height: 35px;
    background-color: transparent;
    border: 2px solid #989898;
    font-size: 16px;
    font-family: Graphik;
    color: #292929;
}

.title {
    width: 70%;
    text-align: center;
    font-size: 38px;
    font-family: Wermut;
    color: #292929;
    margin-top: 20px;
    padding-bottom: 15px;
}

.descrip {
    color: #292929;
    width: 70%;
    text-align: center;
    font-size: 16px;
    font-family: Graphik;
    margin-bottom: 15px;
}
@media (max-width:1400px) {
    .wrapper{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }
    .block{
        width: 80%;
    }

}

@media (max-width:590px) {
    .image{
        width: 300px;
        height: 240px;
    }
    .title{
        text-align: center;
        width: auto;
    }
}