html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    background-color: #E8E8E8;
}

html::-webkit-scrollbar {
    height: 8px;
}

html::-webkit-scrollbar-thumb {
    background-color: #292929;
    border-radius: 5px;
}

html::-webkit-scrollbar-track {
    background-color: #989898;
}




  

@font-face {
    font-family: 'SONY Fixed';
    src: url('../fonts/SONY-Fixed.ttf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Wermut';
    src: url('../fonts/Wermut.ttf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Wermut';
    src: url('../fonts/Wermut-Italic.ttf');
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: 'Graphik';
    src: url('../fonts/Graphik/GraphikLCG-Regular.eot');
    src:
        url('../fonts/Graphik/GraphikLCG-Regular.woff') format('woff'),
        url('../fonts/Graphik/GraphikLCG-Regular.ttf') format('truetype'), ;
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Graphik';
    src: url('../fonts/Graphik/GraphikLCG-Bold.eot');
    src:
        url('../fonts/Graphik/GraphikLCG-Bold.woff') format('woff'),
        url('../fonts/Graphik/GraphikLCG-Bold.ttf') format('truetype'), ;
    font-style: normal;
    font-weight: bold;
}


.catalogWrapper {
    margin: 0 10%;
    padding-top: 40px;
    width: 80%;
    padding-bottom: 80px;
}

.catalogItems {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 350px;
    justify-content: space-between;
    grid-row-gap: 5px;
    grid-column-gap: 5px;
    position: relative;
    width: 80%;
}

.catalogFilter {
    margin-top: 30px;
    width: 20%;
}

.catalogWrapperContent {
    display: flex;
    flex-direction: row;
    gap: 5%;
}

.thumb {
    width: 15px;
    height: 15px;
    background-color: #E8E8E8;
    transform: rotate(-45deg);
    border: 2px solid #292929;
    top: -8px;
}

.contactsWrapper {
    padding-top: 40px;
    margin: 0 10%;
    justify-self: center;
    width: 80%;
    padding-bottom: 50px;
}


.shipWrapper {
    padding-top: 40px;
    margin: 0 10%;
    justify-self: center;
    width: 80%;
}

.paymentWrapper {
    padding-top: 40px;
    margin: 0 10%;
    justify-self: center;
    width: 80%;
}

.aboutWrapper {
    padding-top: 40px;
    margin: 0 10%;
    justify-self: center;
    width: 80%;
}

.subTitleContacts {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 26px;
    font-family: Wermut;
    color: #292929;
    padding-bottom: 18px;
}

.subTitleShip {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 34px;
    font-family: Wermut;
    color: #292929;
    padding-bottom: 18px;
}


.shipDescrip {
    color: #292929;
    width: 60%;
    text-align: center;
    font-size: 16px;
    font-family: Graphik;
    margin-bottom: 20px;
}

.shipContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}


.subTitlePayment {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 32px;
    font-family: Wermut;
    color: #292929;
    padding-bottom: 18px;
}

.blocksPaymentWrapper {
    width: 100%;
    padding-bottom: 25px;

    display: flex;
    flex-direction: row;
    gap: 10%;

    align-items: start;
    justify-content: center;

    border-bottom: 2px solid #989898;
}

.blocksPayment {
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    font-family: Graphik;
    font-size: 16px;
    color: #292929;
    line-height: 1.3;
}

.wrapperItem {
    width: 80%;
    display: flex;
    flex-direction: row;
    gap: 140px;
    margin: 0 auto;
    padding-bottom: 150px;
    margin-top: 40px;
}

.imgRowTable {
    width: 90px;
    height: 90px;
}

.imagePayment {
    width: 500px;
    height: 400px;
}

.navigationSticky {
    height: 50px;
    z-index: -1;
}

.mainWrapper {
    margin: 0 10%;
    padding-top: 40px;
    width: 80%;
    padding-bottom: 200px;
}

.mainSlick {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 60px;
}

.slick-prev::before {
    display: none;
}

.slick-next:before {
    display: none;
}

.slick-dots li {
    width: 100%;
    background-color: #989898;
    height: 5px;
    border-radius: 2px;
}

.slick-dots .slick-active {
    background-color: #292929;
}

.slick-dots li button:before {
    display: none;
}

.slick-dots li button {
    width: 100%;
}

.mainStories {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    gap: 5%;
    margin-top: 20px;
}

.adminWrapper {
    margin-top: 20px;
}

.mainPluses {
    display: block;
    width: 100%;
    height: 100px;
}

@media (max-width:1590px) {
    .catalogItems {
        grid-template-columns: repeat(3, 1fr);
        gap: 25px 5%
    }
}

@media (max-width:1290px) {
    .catalogItems {
        width: 80%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

@media (max-width:995px) {
    .catalogFilter {
        width: 30%;
    }

    .catalogItems {
        width: 70%;
        display: flex;
        flex-direction: row;
    }
}

@media (max-width: 995px) {
    .blocksPaymentWrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .blocksPayment {
        width: 90%;
        margin-top: 40px;
    }
}

@media (max-width: 680px) {
    .imagePayment {
        width: 300px;
        height: 240px;
    }
}

@media (max-width: 550px) {
    .catalogWrapperContent {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width:1075px) {
    .wrapperItem {
        gap: 40px;
        flex-direction: column;
        align-items: center;
    }
}