.wrapper{
    display: flex;
    flex-direction: column;

}

.block{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10%;
    margin-bottom: 30px;
}
.block:nth-child(2){
    flex-direction: row-reverse;
    gap: 0;
}
.text{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imageWrapper{
    width: 45%;
}
.imageWrapper img{
    width: 100%;
}

.title{
    font-family: Wermut;
    font-size: 36px;
    color: #292929;
    margin-bottom: 10px;
    
}

.descrip{
    text-align: center;
    width: 80%;
    font-family: Graphik;
    font-style: 16px;
    color: #292929;
}
@media (max-width:1350px) {
    .imageWrapper{
        width: 40%;
    }
    .block:nth-child(2){
        flex-direction: row-reverse;
        gap: 10%;
    }
    .title{
        font-size: 26px;
        text-align: center;
    }
}