.wrapper {
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    position: relative;
    height: 330px;
    cursor: pointer;
}

.photoWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: #1f1f1f;
    border-radius: 20px;    
}

/* .wrapperHovering {
    width: 250px;
    border: 2px solid #989898;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    z-index: 100;
    background-color: #E8E8E8;
    padding-bottom: 30px;
} */

/* .wrapperHovering img {
    margin-top: 20px;
    width: 230px;
    height: 230px;
    margin-left: 10px;
    margin-right: 10px;
} */

.input {
    margin-top: 10px;
    text-align: center;
    width: 80%;
    padding: 0 10%;
    font-family: Graphik;
    color: #292929;
    font-size: 14px;
}

.title {
    font-family: Graphik;
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 7px;
    margin-top: 5px;
}

.desc {
    font-size: 12px;
    margin-bottom: 15px;
}

.description div {
    text-align: center;
}

.description {
    width: 100%;
    font-family: Graphik;
    color: #292929;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.price {
    font-weight: bold;
}



.buttons {
    position: absolute;
    left: 50%;
    bottom: 80px;
    transform: translate(-50%, 0);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    width: 75%;
    margin-top: 20px;
}

.describe{
    text-align: center;
    font-family: 'Graphik';
    font-size: 14px;
    color: #ebebeb;
    height: auto;
    position: absolute;
    bottom: 140px;
}

.value {
    align-self: flex-end;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 2px solid #ebebeb;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.value button {
    padding: 0;
    color: #ebebeb;
    width: 33%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    font-family: SONY Fixed;
    font-size: 28px;
    cursor: pointer;
}

.value button svg {
    height: 18px;
    width: 18px;
}

.value div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: SONY Fixed;
    color: #ebebeb;
    height: 30px;
    width: 34%;
    border-right: 2px solid #ebebeb;
    border-left: 2px solid #ebebeb;
}


.buy button {
    width: 100%;
    height: 35px;
    border-radius: 5px;
    padding: 0;
    text-align: center;
    font-family: Graphik;
    font-size: 14px;
    background-color: transparent;
    border: 2px solid #ebebeb;
    color: #ebebeb;
    cursor: pointer;
    margin-bottom: 10px;
}

.buy button:nth-child(1){
    background-color: #ebebeb;
    color: #303030;
}

.buy button:active {
    transform: translateY(-2px);
    box-shadow: 0 5px 10px rgba(105, 100, 100, 0.836);
}

.photo {
    border-radius: 20px;
    width: 250px;
    height: 250px;
}

.wrapper:hover .photo{
    opacity: 0.04;
}


@media (max-width:1290px) {
    .wrapper {
        width: 45%;
    }
}

@media (max-width:995px) {
    .wrapper {
        width: 100%;
    }
}