.item {
    cursor: default;
    display: flex;
    flex-direction: row;
    gap: 7%;
    width: 90%;
    height: 122px;
    margin-bottom: 40px;
}

.itemPhoto {
    width: 30%;
}

.itemPhoto img {
    height: 122px;
}

.itemInfo {
    width: 45%;
}

.itemDelete {
    cursor: pointer;
    width: 15%;
}


.value {
    align-self: flex-end;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 2px solid #989898;
    height: 30px;
}

.value button {
    padding: 0;
    color: #989898;
    width: 33%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    font-family: SONY Fixed;
    font-size: 28px;
    cursor: pointer;
}

.value button svg {
    height: 18px;
    width: 18px;
}

.value div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: SONY Fixed;
    color: #292929;
    height: 30px;
    width: 34%;
    border-right: 2px solid #989898;
    border-left: 2px solid #989898;
}


.title {
    padding-top: 45px;
    padding-bottom: 45px;
    color: #292929;
    font-family: SONY Fixed;
    font-size: 36px;
    cursor: default;
}

.itemInfo {
    display: flex;
    flex-direction: column;
    height: 122px;
    justify-content: space-between;

    align-items: start;
    text-decoration: none;
    color: #292929;
    font-family: Graphik;
}

.itemTitle {
    width: 100%;
    font-size: 22px;
}

.price {
    font-style: 18px;
    text-align: left;
    padding-top: 10px;
    font-weight: bold;
}

.itemDelete {
    background-color: transparent;
    border: none;
    height: 40px;
    width: 40px;
    cursor: pointer
}

.itemDelete svg {
    height: 40px;
    width: 40px;
    cursor: pointer
}