.price{
    margin-top: 15px;
    font-size: 24px;
    font-family: Wermut;
    color: #292929;
}
.h1title{
    font-family: Wermut;
    font-size: 37px;
    color: #292929;
}
.subTitle{
    font-size: 32px;
    font-family: Wermut;
    font-style: normal;
    margin-top: 15px;
    margin-bottom: 10px;
    color: #292929;
}
.subTitle2{
    font-size: 26px;
    font-family: Wermut;
    font-style: normal;
    margin-top: 15px;
    margin-bottom: 10px;
    color: #292929;
}
.desc{
    width: 90%;
    font-size: 13px;
    font-family: Graphik;
    font-weight: normal;
    color: #292929;
}
.wrapper{
    width: 40%;
}


.buttons{
    width: 85%;
    margin-top: 20px;
}

.icons{
    margin-top: 15px;
    color: #292929;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.icons svg{
    
    width: 22px;
    height: 22px;
}


.value {
    align-self: flex-end;
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 2px solid #989898;
    height: 50px;
}

.value button {
    padding: 0;
    color: #989898;
    width: 33%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    font-family: SONY Fixed;
    font-size: 28px;
    cursor: pointer;
}

.value button svg {
    height: 14px;
    width: 14px;
}

.value div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: SONY Fixed;
    color: #292929;
    height: 30px;
    width: 34%;
}



.buy{
    width: 400px;
}
.buy button{
    width: 50%;
    height: 45px;
    padding: 0;
    text-align: center;
    font-family: Graphik;
    font-size: 14px;
    background-color: transparent;
    border: 2px solid #989898;
    border-top: none;
    cursor: pointer;
}

.buy button:nth-child(1){
    border-right: none;
    background-color: #292929;
    color: #fff;
}