.wrappeTable{
    width: 50%;
    overflow: hidden;
}
.file{
    font-family: Graphik;
    text-transform: none;
    text-decoration: none;
    color: #292929;
}

@media (max-width: 880px) {
    .wrappeTable{
        width: 100%;
    }
}