.wrapper {
    height: 100%;
    position: fixed;
    top: 0px;
    right: 0;
    width: 25vw;
    background-color: #E8E8E8;
    padding-top: 40px;
    z-index: 10000;
}

.buttonBack {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    color: #292929;
    cursor: pointer;
}

.buttonBackIcon {
    width: 28px;
    height: 28px;
}

.buttonBackText {
    font-family: SONY Fixed;
}

.title {
    padding-top: 45px;
    padding-bottom: 45px;
    color: #292929;
    font-family: SONY Fixed;
    font-size: 32px;
    cursor: default;
}

.reg{
    width: 80%;
    margin: 0 auto;
}

.addressInput {
    height: 35px;
    width: 85%;
    background-color: transparent;
    border: 2px solid #989898;
    margin-bottom: 20px;
    padding-left: 10px;
}












/* Checkbox */

.checkboxes {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;
    width: 100%;
    justify-content: center;
    margin-bottom: 30px;
    margin-left: 6%;
}

.checkboxes input {
    display: none;
}

.checkbox {
    font-size: 10px;
    font-family: Graphik;
    font-weight: normal;
    color: #292929;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
    text-align: left;
    line-height: 1.3;
}

.checkboxes i {
    min-width: 15px;
    height: 15px;
    width: 15px;
    border: 2px solid #292929;
    background-color: transparent;
    margin-right: 8px;
}







.registerBut {
    width: 85%;
    height: 40px;
    border: 2px solid #292929;
    color: #292929;
    background-color: transparent;
    font-family: SONY Fixed;
    font-style: 22px;
    cursor: pointer;
}

